header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171B26;
    height: 4rem;
    color: #ffff;
    a {
        color: #ffff;
    }
}

#intro-card {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    background-color: #272D3F;
    color: #ffff;
    height: 20rem;
    button {
        height: 2rem;
        width: 6rem;
        padding: 7px;
        background-color: yellow;
    }
    .intro-item {
        margin-top: 0;
        margin-left: 14rem;
        span {
            display: block;
        }
    }
}
